body {
	background-image: url("background.jpg");
	background-size: cover;
	font-family: sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 100;
		}
#header{
background-image: url("stripes.png");
background-repeat: repeat;
margin: 0px;
}

#text {
position: relative;
margin-top: 500px;
margin-left: 100px;
}
hr {
width:50px;
}
h1	{
	background-repeat: repeat-x;
	}

hr {
	width: 50px;
	}
